* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
a {
    text-decoration: none;
}
body {
    width: 1024px;
    margin: auto;
}
header{
    width: 100%;
    padding: 2rem 0;
}
.main-nav:first-child{
    justify-content: flex-end;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.5rem;

}
nav > * {
    display: flex;
    flex: 1 1 0%;
    width: auto;
}

ul {
    display: flex;
    list-style: none;
}

ul li {
    margin: 0 .25rem;
}

ul a {
    padding: .5rem 1rem;
}

.main-nav-logo {
    max-width: 7rem;
    
}
nav a {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    display: inline-block;
    color: rgb(82 82 82);
}
.technology_link {
    display: flex;
}
.technology_name {
    color: #2563EB;
    margin-top: 1.25rem;
    font-size: .75rem;
    line-height: 1rem;
}
img {
    max-width: 100%;
}
li :hover{
    color: #2563EB;
}

.new{
    background: #DBEAFE;
    color: #2563EB;
    font-size: 12px;
    padding: 2px 8px;
    border-radius: 3px;
    margin-left: 8px;
    font-weight: 600;
}
div .social {
    position: fixed;
    right: 30px;
    bottom: 22px;
    font-weight: 600;
    width: 150px;
    display: flex;
    justify-content:space-evenly;
    padding: 5px;
    align-items: center;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 6px;
    background: #ffffff;
}
.social img {
    width: 16px;
    height: auto;
    border-radius: 3px;
}
footer {
    width: 100%;
    padding: 2rem;
}
.gap {
    height: 500px;
}
.main-copy {
    padding-top: 2rem;
    border-top: 1px solid #ebebeb93;
}
.copyright, .copyright-d {
    font-size: .875rem;
    line-height: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.copyright-d {
    margin-top: .25rem;
}
.dot {
    font-size: 14px;
    font-weight: 700;
    color: #737373;
    padding: 0 0.25rem;
}
.copyright-d, a {
    color: #737373;
}
.f-side{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-top: .07rem;
}
.color-mode {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 90px;
    justify-content: space-between;
}
.color-option {
    border: none;
    font-size: 100%;
}
.brtght {
    opacity: 50%;
    width: 16px;
}
.saide {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #000000;
    border-radius: 6px;
    margin-top: 1.25rem;
}
.saide a {
    color: #ffffff;
    align-items: center;
    padding: 9px 10.3px;
}
.up-arrow {
    border-right: 1px solid rgba(255, 255, 255, 0.30);
    border-width: 100%;
    padding: 3px 4px;
}
.Powered {
    font-size: 11px;
    font-weight: 300;
}
.Powered span {
    font-weight: 500;
}
.Powered::after {
    background: #DBEAFE;
}
/* content aria */
.content-aria {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.main_technology {
    width: 960px;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    margin: auto;
}
.technology {
    width: 460px;
}
.main_image {
    width: 460px;
    height: 258px;
}
.main_image:hover {
    scale: 1.05;
    transition: .4s ease-in-out;
}
.image_link {
    width: 460px;
    height: 258px;
}
.technology_image {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.technology_link {
    font-size: 12px;
    letter-spacing: .05em;
}
.content_hader {
    margin-top: .5rem;
}
.image_title {
    font-size: 18px;
    color: #262626;
    letter-spacing: .5px;
    line-height: 24.8px;
}
.man {
    width: 20px;
    height: 20px;
    border-radius: 100%;
}
.user_information {
    font-size: 14px;
    line-height: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: .75rem;
    gap: .75rem;
}
.image_title:hover {
    text-decoration: underline;
    background: #CAF9DA;
    transition: .4s ease-in-out;
}
/* 2nd content aria */
.main_next_image {
    width: 460px;
    height: 460px;
}

/* view all post */
.view_all_post {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 32px;
}
.view_post {
    border: 1px solid rgba(115 115 115);
    font-size: 14px;
    padding: .5rem .75rem;
    border-radius: 6px;
}