* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body {
    width: 1024px;
    margin: auto;
}
header{
    width: 100%;
    padding: 2rem 0;
}
.main-nav:first-child{
    justify-content: flex-end;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.5rem;

}
nav > * {
    display: flex;
    flex: 1 1 0%;
    width: auto;
}

ul {
    display: flex;
    list-style: none;
}

ul li {
    margin: 0 .25rem;
}

ul a {
    padding: .5rem 1rem;
}

.main-nav-logo {
    max-width: 7rem;
    
}
a {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    display: inline-block;
    color: rgb(82 82 82);
}
img {
    max-width: 100%;
}
li :hover{
    color: #2563EB;
}

.new{
    background: #DBEAFE;
    color: #2563EB;
    font-size: 12px;
    padding: 2px 10px;
    border-radius: 3px;
    margin-left: 8px;
    font-weight: 600;
}
div .social {
    position: fixed;
    right: 30px;
    bottom: 22px;
    font-weight: 600;
    width: 150px;
    display: flex;
    justify-content:space-evenly;
    padding: 5px;
    align-items: center;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 4px;
    background: #ffffff;
}
.social img {
    width: 16px;
    height: auto;
    border-radius: 2px;
}
footer {
    width: 100%;
    padding: 2rem;
}
.gap {
    height: 500px;
}
.main-copy {
    padding-top: 2rem;
    border-top: 1px solid #ebebeb93;
}
.copyright, .copyright-d {
    font-size: .875rem;
    line-height: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.copyright-d {
    margin-top: .25rem;
}
.dot {
    padding: 0 0.25rem;
}
.copyright-d, a {
    color: #737373 ;
}
.f-side{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-top: .5rem;
}
.color-mode {
    display: flex;
    align-items: center;
    width: 90px;
    justify-content: space-between;
}
.color-option {
    border: none;
    font-size: 100%;
}
.brtght {
    opacity: 50%;
    width: 16px;
}
.saide {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #000000;
    border-radius: 4px;
    margin-top: 1.25rem;
}
.saide a {
    color: #ffffff;
    align-items: center;
    padding: 3px 8px;
}
.up-arrow {
    border-right: 1px solid rgba(255, 255, 255, 0.30);
    border-width: 100%;
    padding: 3px 4px;
}
.Powered {
    font-size: 11px;
    font-weight: 300;
}
.Powered span {
    font-weight: 500;
}
.Powered::after {
    background: #DBEAFE;
}
